{% extends 'job_portal/base.html' %}
{% load humanize %}
{% load add_point_in_str %}

{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="{% url 'main' %}">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="{% url 'companies' vacancy.company.pk %}"><img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
            <p class="m-0 pl-3">{{ vacancy.salary_min|floatformat|intcomma }} – {{ vacancy.salary_max|floatformat|intcomma }} Р</p>
          </div>
          <p class="mt-2">{{ vacancy.skills|add_point_in_str }}</p>
          <p class="text-muted mb-4">{{ vacancy.company.name }} ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }} или удаленно</p>
          <div style="line-height: 1.8;">
            {{ description }}
          </div>
          <form method="POST">{% csrf_token %}
            <table>{{ form.as_table }}</table>
            <button type="submit">Send</button>
          </form>
        </section>
      </div>
    </div>
  </main>
{% endblock %}