{% extends 'job_portal/base_company_owner.html' %}
{% block container %}
{% load humanize %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->
              {% for select_vacancy in vacancy %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="#" class="mb-1">{{ select_vacancy.title }}</a>
                      <p class="mb-1">
                        <span class="mr-4">{{ select_vacancy.salary_max|floatformat|intcomma }}</span><a href="#" class="text-info">{{ select_vacancy.applications.count }} откликов</a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'company_vacancies_update' select_vacancy.pk %}" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- END vacancy state 1 -->
              
            </section>
          </div>
        </div>
      </div>
{% endblock %}